<launch>
    <include file="$(find manipulator_model)/launch/manip_position.launch"/>
    <include file="$(find manipulator_moveit_config)/launch/move_group.launch"/>
    
    <arg name="rvizconfig" default="$(find manipulator_moveit_config)/launch/moveit.rviz" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>